doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat Kash
        script(defer, src="https://cdn.socket.io/4.6.0/socket.io.min.js")
        script(defer, src="js/client.js")
        link(rel="stylesheet", href="css/style.css")
    body(style=`text-align: -webkit-center;
`)
        nav
            // <img class="logo" src="index.png">
            h1.title Chat Kash
        .main-container
            .container
            .send
                form#send-container(action="#")
                    div(class="form_contant")
                        input#messageInp(type="text", name="messageInp", placeholder="Type a message...")
                        button.btn(type="submit")
                            img(src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-send-social-media-ui-tanah-basah-glyph-tanah-basah.png")
